body{
    background: lemonchiffon;
    text-align: center;
}
html {
    height: 100%;
    margin: 0;
}
.falling-leaves {
    position: absolute;
    top: 130px;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: auto;
    max-height: auto;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    border-radius: 50px;
    background-size: cover;
    overflow: hidden;
}
.leaf-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.leaf-scene div {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(../images/leaf-brown.svg) no-repeat;
    background-size: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/* 设置logo div的规格 */
.logo {
    height: 20px;
}
/* 设置class:logo 下的p标签  */
.logo p{
    border: 1px solid lemonchiffon;
    /* background: url(../images/music_img.jpg) no-repeat;//没占满不再重复 */
    /* 控制长宽，包裹住logo图片 */
    width: 163px;
    height: 109px;
    display: inline-block;
    margin: 16px 0;/*外边距 上下，左右*/
}


#in_box{
    width: 100%;
    
    /* background-image: url(../images/bg.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}

#Kbai{
    /* 控制该div的最小窗口放缩尺寸 */
    min-width: 380px;
    /* 主页面 */
    min-height: auto;
    margin: auto;
}

.content p{
    margin-top: 100px;
    font-size: 30px;
    font-family:sans-serif;
}

.content1{
    border: 2px solid lawngreen;
    border-radius: 15px;
    background: l;
    overflow: hidden;
    width: auto;
    height: 100%;
    line-height: 45px;
    margin-left: 8px;
    margin-right: 8px;
    display:-webkit-flex;
    display: flex;
    /* 写两个这个是为了兼容性，效果都是一样的 */
    justify-content: space-around;
    /* 四周间距 ‘留天地’ */
    margin: 8px 8px 8px 8px;
}

.content1 .list{
    min-width: 50%;
    
    font-style: oblique;
    font-size: 20px;
    /* margin-left: 8px; */
    /* margin-right: 8px; */
    margin: 8px 8px 0 0;
    /* border: 1px solid lawngreen; */
    
}
.content1 .list img{
    max-height: auto;
    max-width: 98%;
    border-radius: 25px;
}
