@media screen and (max-width: 768px) {
    .app-search-form {
        margin: 0 auto;
    }
    .app-search-input {
        width: 0;
        opacity: 0;
    }
    .app-search-form-md {
        display: inline-block;
    }
    .app-search-form-lg {
        display: none;
    }
    .app-menu {
        display: none;
    }
    .app-search-input-change-long {
        display: inline-block;
        animation: input-long .3s ease forwards;
    }
    .app-search-input-change-short {
        display: inline-block;
        animation: input-short 1s ease forwards;
    }
    @keyframes input-long {
        from {
            width: 0;
            opacity: 0;
        }
        to {
            width: 10em;
            opacity: 1;
        }
    }
    @keyframes input-short {
        from {
            width: 10em;
            opacity: 1;
        }
        to {
            width: 0em;
            opacity: 0;
        }
    }
}

