.app-bg-main {
    background-color: #4e9a78 !important;
}
.app-text-main {
    color: #fff !important;
}
.app-footer-bg-main {
    background-color: #356851 !important;
}
.app-footer-text-main {
    color: rgb(184, 179, 179) !important;
}
.app-sidebar-left-text-main {
    color: rgb(189, 191, 192) !important;
}
.app-friend.app-sidebar-left-text-main:hover{
    color: #fff !important;
}
.app-sidebar-left-bg-main {
    background-color: #fff !important;
}
.app-sidebar-left-text-main {
    color: #adadad;
}
.app-sidebar-left-text-main:hover {
    color: #868585;
    text-decoration: none;
}
.app-sidebar-left-text-main:visited {
    text-decoration: none;
}
.app-content {
    margin-top: 60px;
}
.carousel {
    padding: 0 !important;
}
.app-search-input {
    outline: none;
    border: none;
    background-color: #4e9a78;
    border-bottom: #fff 1px solid;
    width: 10rem;
    color: #fff;
}
.app-search-input::placeholder {
    color: rgb(194, 197, 197);
}
.app-menu {
    display: inline-block;
}
.app-menu .app-menu-icon {
    display: block;
    width: 1.3rem;
    border: 1px #fff solid;
    margin: .3rem auto;
}
.app-menu .app-menu-icon:nth-of-type(2) {
    width: 2rem;
}
.app-article-title {
    color: rgb(87, 88, 88);
}
.app-article-info  > a {
    font-size: .7rem !important;
    color: #9ba6ac !important;
}

.app-user-icon > img {
    max-width: 64px;
}
.app-sidebar-left {
    position: fixed;
    width: 16.66%;
    height: 87vh;
}
.app-sidebar-right {
    height: 500px;
    background-color: hotpink;
}
.app-userinfo-name {
    color: #fff;
}
.app-sidebar-left .card {
    border: none !important;
}
.app-sidebar-left .card-header {
    border: none !important;
}
.app-sidebar-left .card-footer {
    border-radius: 0 !important;
}
.app-sidebar-left .card-body {
    padding: 0 !important;
}
.app-sidebar-left-classes .card-body {
    padding: 0 !important;
}
.app-sidebar-left .list-group-item  {
    border: none !important;
}
.app-footer {
    height: 8;
    justify-content: center;
    align-items: center;
}

