/* html{overflow: hidden;}
body {
	background:url(../images/bg.jpg) no-repeat top center;
	margin:auto;
} */


/* 给一个元素中设置overflow:hidden，那么该元素的内容若超出了给定的宽度和高度属性，
那么超出的部分将会被隐藏，不占位。 */
html{overflow: hidden;}

/* *{margin:0; padding:0;}代表了网页中所有元素，包括body ,ul, li列表标签 ,p,H标题
标签,dd,dt 等……都有默认的margin 或padding值的，加上这句就可以删除浏览器这些默认值，
方面后面的设置。 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img {padding:0;margin:0;}

body{
    background:url(../images/bg.jpg) no-repeat top center;
    text-align: center;
}

/* 设置logo div的规格 */
.logo {
    height: 8px;
}
/* 设置class:logo 下的p标签  */
.logo p{
    border: 1px solid lemonchiffon;
    /* background: url(../images/music_img.jpg) no-repeat;//没占满不再重复 */
    /* 控制长宽，包裹住logo图片 */
    width: 163px;
    height: 109px;
    display: inline-block;
    margin: 16px 0;/*外边距 上下，左右*/
}


#in_box{
    width: 100%;
    
    /* background-image: url(../images/bg.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}

#Kbai{
    /* 控制该div的最小窗口放缩尺寸 */
    min-width: 380px;
    /* 主页面 */
    min-height: auto;
    margin: auto;
}

